:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.appTitle {
  width: 100vw;
  margin-top: 0px;
}

.appTitle h1 {
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size:xx-large;
}

/* MIC ICON AND STATE MESSAGE */

.micButton {
  display: flex;              
  justify-content: center;
  align-items: center;

  width: 100px;               
  height: 100px;              
  margin: 20px auto;          
  background-color: #646cff;
  border: none;               
  border-radius: 50%;         
  cursor: pointer;            
}

.micButton.active {
  background-color: crimson;
}

.micIcon {
  font-size: 3rem;
  color: white;               
}

.stateMessage {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TRANSCRIPT */

.transcriptBox {
  background-color:aliceblue;
  border-style: dashed;
  border-color:lightskyblue;
  display: flex;
  width: 60vw;
  height: 20vw;
  margin: auto;
  padding : 5px;
  overflow-x: auto;
}

.transcriptBox p {
  font-size: medium;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left : 20px;
  margin-right: 20px;
  
  color: black;
}

/* COPY AND SAVE BUTTONS */

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
  margin-top: 20px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .saveButton, */
.button button {
  background-color: #646cff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltiptext {
  visibility: hidden;
  width: 130px;
  background-color:dimgrey;
  color: #ffffff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  width: 150px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
  padding: 4px;
}

.tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%; 
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent dimgrey transparent;
}

.button:hover .tooltiptext {
  visibility: visible;
}




@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
